<section class="section-smooth-scroll-test">
    <div class="screen">
        <h1>Smooth</h1>
    </div>
    <div class="screen">
        <h1>Scroll</h1>
    </div>
    <div class="screen">
        <h1>Custom</h1>
    </div>
</section>