<section class="section-smooth-scroll-test" data-scroll>
    <div class="screen">
        <h1>Smooth</h1>
    </div>
    <div class="screen" data-scroll data-scroll-call="hello">
        <h1>Scroll</h1>
    </div>
    <div class="screen">
        <h1>Custom</h1>
    </div>
    <div class="screen" data-scroll data-scroll-call="hello">
        <h1>Bam bam</h1>
    </div>
</section>