.section-smooth-scroll-test {
    width: 100vw;

    .screen {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;

        background-color: black;
        color: white;

        &:nth-child(odd) {
            background-color: white;
            color: black;
        }
    }
    
    h1 {
        transform-origin: left top;
        font-size: 80px;
        font-family: sans-serif;
        text-transform: uppercase;    
    }
}


