{{#extend "html/template"}}
  {{#content "body"}}

  <main role="main" data-barba="container" data-barba-namespace="about">

    {{> partials/about-component }}

  </main>

  {{/content}}
{{/extend}}
