{{#extend "html/template"}}
  {{#content "body"}}

  
  <main role="main" data-barba="container" data-barba-namespace="home" class="js-scroll-container">
      {{> sections/section-ease-generator }}
  </main>


  {{/content}}
{{/extend}}
