{{#extend "html/template"}}
  {{#content "body"}}

  
  <main role="main" class="js-scroll-container">
    <div class="js-scroll-content">
      {{> sections/section-home }}

    </div>
    {{!-- {{> partials/header }} --}}


    {{!-- {{> partials/footer }} --}}
    
  </main>


  {{/content}}
{{/extend}}
