{{#extend "html/template"}}
  {{#content "body"}}

  
  <main role="main" data-barba="container" data-barba-namespace="home">
    {{> partials/home-component }}
    {{> partials/home-component }}
    {{> partials/home-component }}
    {{> partials/home-component }}
    {{> partials/home-component }}
    {{> partials/home-component }}
  </main>


  {{/content}}
{{/extend}}
