.about-component {
    height: 100vh;
    width: 100%;

    background-color: red;
    color: white;
    font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(odd) {
        color: grey;
        background-color: white;
    }
}

.about-component__heading {
    &.isInView {
        color: yellow;
        
        transition: color 1s, ease-in-out;
    }
}