<nav class="navbar" data-component="sample">
  <div>Test barba</div>
  <ul class="list">
    <li>
      <a href="/">home</a>  
    </li>
    <li>
      <a href="/about">about</a>
    </li>
  </ul>
</nav>